
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avisos-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 12px;
}

.avisos-container button {
    color: #212529;
}

.avisos-container button:hover {
    color: #212529;
}

.th-seleccion {
    display: flex;
}

.red-circle {
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 100%;
    margin-left: -3px;
    margin-right: 8px;
    margin-top: 4px;
}

.nav-item-avisos {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .red-circle {
        margin-left: 6px;
    }
}
