
.copias-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copias-container .btn-danger {
    margin-left: 8px;
}

.copias-page-container {
    display: flex;
    -webkit-user-select: none;
}

.copias-page-container span {
    margin: 0 10px;
}

.copias-page-container a {
    cursor: pointer;
}

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar input {
    margin-top: 18px;
    max-width: 380px;
}

.avatar span {
    margin-top: 7px;
}
