
.registro-container {
    max-width: 700px;
    margin: 0 auto;
}

.registro-form-container {
    margin-top: 25px;
}

.registro-button {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
